#Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

#Virtual environments
.venv/
venv/
env/
ENV/

#Environment variables
.env
.envrc
.config.py  # Your local config file

#Distribution / packaging
build/
dist/
*.egg-info/
*.egg

#Installer logs
pip-log.txt

#Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
.hypothesis/

#Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

#Flask
instance/

#Jupyter Notebook
.ipynb_checkpoints

#IDE-specific
 .vscode/
 .idea/

#user specific config/secrets
config.py
config.env